<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
</section>

<h1>Editing Registry</h1>

<%= render 'form', registry: @registry %>

<%= link_to 'Show', @registry %> |
<%= link_to 'Back', registries_path %>
